/* Found in:
  components/portfolio.jsx
*/

.Gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
  
.Gallery > * {
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    width: 300px;
    padding: 25px;
}

.Sliding-Logo {
  padding: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .Sliding-Logo {
    animation: Logo-slide infinite 5s;
  }
}

@keyframes Logo-slide {
  0% {transform: translateX(0vw) rotate(0deg);}
  50% {transform: translateX(50vw) rotate(720deg);}
  100% {transform: translateX(0vw) rotate(0deg);}
}