/* Found in:
  components/about.jsx
*/
.About {
  display: flex;
  flex-direction: row;
  border: #AFABB5;
  border-style: solid;
  border-radius: 15px;
  margin: 40px;
}

.About div {
  margin: 20px;
  max-width: 500px;
}

/* Found in:
  components/portfolio.jsx
*/
.Gallery {
  display: flex;
  flex-direction: row;
  border: #AFABB5;
  border-style: solid;
  border-radius: 15px;
  padding: 40px;
}

/* Found in:
  components/gallerycard.jsx
*/
.GalleryKey {
  padding: 5px;
}

/* Found in:
  app.js
*/
.App {
  text-align: left;
}

/* Found in:
  app.js
*/
.App-logo {
  padding: 30px;
  pointer-events: none;
  position:absolute;
  left:0;
  top:0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-twist infinite 20s ease-in-out;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-twist {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(90deg);}
    100% {transform: rotate(0deg);}
}
